[Desktop Entry]
Version=1.0
Name=AILE Core
Comment=AILE P2P Cryptocurrency
Comment[fr]=AILE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AILE, eşten eşe kriptografik sanal para birimi
Exec=aile-qt %u
Terminal=false
Type=Application
Icon=aile128
MimeType=x-scheme-handler/aile;
Categories=Office;Finance;
StartupWMClass=Aile-qt
